<p>Nuevo Empleado ><small>{{nuevoempleado.nombre}}</small></p>
<hr>

<div class="row container">
    <div class="col">
        <form>

            <div class="row">
                <div class="col">
                    <label class="col-form-label">Nombre</label>
                    <input type="text"
                            class="form-control"
                            [(ngModel)]="nuevoempleado.nombre"
                            name="nombre"
                            placeholder="Ingrese el nombre">
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <label class="col-form-label">Apellido</label>
                    <input type="text"
                            class="form-control"
                            [(ngModel)]="nuevoempleado.apellido"
                            name="apellido"
                            placeholder="Ingrese el apellido">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="col-form-label">Nacimiento</label>
                    <input type="date"
                            class="form-control"
                            [(ngModel)]="nuevoempleado.fecha_nacimiento"
                            name="nacimiento"
                            placeholder="Ingrese fecha de nacimiento">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="col-form-label">Telefono</label>
                    <input type="number"
                            class="form-control"
                            [(ngModel)]="nuevoempleado.telefono"
                            name="telefono"
                            placeholder="Ingrese numero de telefono">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="col-form-label">Direccion</label>
                    <input type="text"
                            class="form-control"
                            [(ngModel)]="nuevoempleado.direccion"
                            name="direccion"
                            placeholder="Ingrese el domicilio">
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <label class="col-form-label">Dni</label>
                    <input type="number"
                            class="form-control"
                            [(ngModel)]="nuevoempleado.dni"
                            name="dni"
                            placeholder="Ingrese el DNI">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="col-form-label">Puesto</label>
                    <input type="text"
                            class="form-control"
                            [(ngModel)]="nuevoempleado.puesto"
                            name="puesto"
                            placeholder="Ingrese el pusto">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="col-form-label">Fecha de Ingreso</label>
                    <input type="date"
                            class="form-control"
                            [(ngModel)]="nuevoempleado.fecha_ingreso"
                            name="ingreso"
                            placeholder="Ingrese la fecha de ingreso">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="col-form-label">Antiguedad</label>
                    <input type="number"
                            class="form-control"
                            [(ngModel)]="nuevoempleado.antiguedad"
                            name="antiguedad"
                            placeholder="Ingrese la antiguedad">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="col-form-label">Sueldo</label>
                    <input type="text"
                            class="form-control"
                            [(ngModel)]="nuevoempleado.sueldo"
                            name="sueldo"
                            placeholder="Ingrese el sueldo actual">
                </div>
            </div>

            <div class="row">
                <div class="col 4">
                    <button 
                    (click)="guardar()"
                    class="btn btn-success float-end">
                        Gaurdar
                    </button>
                </div>
            </div>
            
            <div class="row">
                <div class="col 4">
                    <button routerLink="/empleados/listado"
                    class="btn btn-warning float-end">
                        Regresar
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>


