<h2>Listado de Empleados</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off">
            <Input type="text"
                    name="termino"
                    class="form-control"
                    placeholder="Buscar">
        </form>
    </div>
</div>

<hr>
<div class="alert alert-danger">
    No se encontro el empleado JUANPERES
</div>



<div class="panel-body">
    <div class="col">
        <table class="table table-over">
               <tr>
                <th>Id</th>
                <th> Nombre </th>
                <th> Apellido </th>
                <th> Fecha_Nacimiento </th>
                <th> Telefono </th>
                <th> Direccion </th>
                <th> DNI </th>
                <th> fecha_ingreso </th>
                <th> Puesto </th>
                <th> Antiguedad </th>
                <th> Sueldo </th>
               </tr> 
                <tr *ngFor="let item of empleados">
                    <td> {{item.id}} </td>
                    <td> {{item.nombre}} </td>
                        <td> {{item.apellido}} </td>
                        <td> {{item.fecha_nacimiento}} </td>
                        <td> {{item.telefono}} </td>
                        <td> {{item.direccion}} </td>
                        <td> {{item.dni}} <td>
                        <td> {{item.fecha_ingreso}} <td>
                        <td> {{item.puesto}} </td>
                        <td> {{item.antiguedad}} </td>
                        <td> {{item.sueldo}} </td>
                        <td class="text-rught" >
                            <div >
                                <button class="btn btn-danger" (click)="eliminar(item.id)">Eliminar</button>
                            </div>
                            
                        </td>
                        <td class="text-rught" >
                            <div >
                                <button class="btn btn-warning" routerLink="/empleados/nuevo/" >Modificar</button>
                            </div>
                            
                        </td>
                </tr>
        </table>
    </div>
</div>
<button class="btn btn-success" (click)="nuevo()" > Nuevo empleado</button>

