<h1>Nuevo Empleado <small>Pedro</small></h1>

<div class="container">
    <form   >
        <div class="form-group">
            <label >Nombre</label>
                <input type="text"
                class="form-control"
                formControlName="nombre"
                placeholder="Ingresar nombre">
            

            <div class="form-group">
                <label >Apellido</label>
                <input type="text"
                class="form-control"
                placeholder="Ingrese el apellido">
            </div>
            <div class="form-group">
                <label >Fecha de Nacimiento</label>
                <input type="date"
                class="form-control"
                placeholder="Fecha Nacimiento">
            </div>
            
            <div class="form-group">
                <label >Telefono</label>
                <input type="number"
                class="form-control"
                placeholder="Ingresar numero de telefono">
            </div>
            
            <div class="form-group">
                <label >Dirección</label>
                <input type="text"
                class="form-control"
                placeholder="Ingresar Dirección">
            </div>
            
            <div class="form-group">
                <label >Documento</label>
                <input type="number"
                class="form-control"
                placeholder="Numero de Dni">
            </div>
            
            <div class="form-group">
                <label >Puesto </label>
                <input type="text"
                class="form-control"
                placeholder="Ingresar puesto">
            </div>
            
            <div class="form-group">
                <label >Antiguedad</label>
                <input type="number"
                class="form-control"
                placeholder="Ingresar Antiguedad">
            </div>

            <div class="form-group">
                <label >Sueldo</label>
                <input type="number"
                class="form-control"
                placeholder="Ingresar sueldo del empleado">
            </div>
        </div>
    </form>
    <div>
        <button class="btn btn-primary" >Guardar</button>
    </div>
</div>
